---
import Layout from '../layouts/Layout.astro';
import Name from '../components/Name'
import Container from '../components/Container'
import { FaLink, FaGithub } from "react-icons/fa6";
---

<Layout title="Adam Primarizki">
	<main>
		<Name client:load/>
		<Container className='flex'>
			<div class="lg:w-[55%] ml-auto">
				<div class="mb-20">
					<p class="text-white font-bold text-md mb-8">ABOUT</p>
					<p class="text-gray text-md mb-4">Hi there 🙋‍♂️, my journey into the tech world started in 2019 when I graduated with an Electrical Engineering degree. But I quickly discovered my true passion: programming.</p>
					<p class="text-gray text-md mb-4">I also have a knack for graphic design, and I've found the perfect balance by diving into frontend engineering. For the past three years, I've been crafting beautiful and functional web experiences.</p>
					<p class="text-gray text-md mb-4">My goal? To bridge the gap between design and technology, and to create captivating user interfaces.</p>
				</div>
				<div class="mb-20">
					<p class="text-white font-bold text-md mb-8">EXPERIENCE</p>
					<div class="mb-6">
						<div class="lg:flex">
							<div>
								<p class="text-gray opacity-80 text-md mr-4 w-[170px] mb-2 lg:mb-0">Dec 2021 — Sep 2023</p>
							</div>
							<div>
								<p class="text-white font-bold text-md">Hijra (ALAMI)</p>
								<p class="text-gray text-md">Front-End Developer</p>
								<ul class="text-gray text-sm mt-2 list-disc ml-4">
									<li class="mb-1">Built responsive websites based on UI design from Figma. </li>
									<li class="mb-1">Built a content-rich architecture implementing a CMS and extended it with custom back-end API endpoints. </li>
									<li class="mb-1">Ensured website’s speed and SEO performance. </li>
									<li class="mb-1">Collaborated with back -end and QA to ensure a robust integration on other projects. </li>
								</ul>
								<ul class="text-white text-sm flex mt-4 flex-wrap">
									<li class="ml-3"><a href="https://hijra.id/" target="_blank" rel="noopener norefferer" class="flex items-center hover:underline"><FaLink/>Hijra</a></li>
									<li class="ml-3"><a href="https://arqam.id/" target="_blank" rel="noopener norefferer" class="flex items-center hover:underline"><FaLink/>ARQAM</a></li>
									<li class="ml-3"><a href="https://alami.institute/" target="_blank" rel="noopener norefferer" class="flex items-center hover:underline"><FaLink/>ALAMI Institute</a></li>
								</ul>
								<ul class="text-blue text-xs font-bold flex mt-4 flex-wrap">
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">TypeScript</li>
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">React</li>
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">NextJS</li>
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">CMS</li>
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">Tailwind</li>
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">WordPress</li>
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">PHP</li>
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">StrapiCMS</li>
								</ul>
							</div>
						</div>
					</div>
					<div>
						<div class="lg:flex">
							<div>
								<p class="text-gray opacity-80 text-md mr-4 w-[170px] mb-2 lg:mb-0">2020 — Dec 2021</p>
							</div>
							<div>
								<p class="text-white font-bold text-md">MyEduSolve</p>
								<p class="text-gray text-md">Junior Front-End Developer</p>
								<ul class="text-gray text-sm mt-2 list-disc ml-4">
									<li class="mb-1">Built two responsive company main websites based on UI design from Figma. </li>
									<li class="mb-1">Improved and maintained website’s performance. </li>
									<li class="mb-1">Managed and supervised end-to-end documented manual QA. </li>
									<li class="mb-1">Technology used: NextJS, Bootstrap & SASS, Redux, and other modules</li>
								</ul>
								<ul class="text-white text-sm flex mt-4 flex-wrap">
									<li class="ml-3"><a href="https://myedusolve.com/" target="_blank" rel="noopener norefferer" class="flex items-center hover:underline"><FaLink/>MyEduSolve</a></li>
									<li class="ml-3"><a href="https://myedusolvex.com/" target="_blank" rel="noopener norefferer" class="flex items-center hover:underline"><FaLink/>MyEduSolveX</a></li>
								</ul>
								<ul class="text-blue text-xs font-bold flex mt-4 flex-wrap">
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">React</li>
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">NextJS</li>
									<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full ml-2 mb-2">Tailwind</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-20">
					<p class="text-white font-bold text-md mb-8">PROJECTS</p>
					<div class="mb-6">
						<p class="text-white font-bold text-sm flex">Wedding E-invitation WebSite</p>
						<p class="text-gray text-sm mt-2 ">E-invitation that are broadcasted to guests for my (very own) wedding. The website is integrated to the SupaBase back-end to gather data such as RSVP, messages, and other.</p>
						<p class="text-white hover:underline text-sm mt-2"><a href="https://mitadam.id/" target="_blank" rel="noopener norefferer" class="flex items-center hover:underline"><FaLink/>mitadam.id</a></li>
							<ul class="text-blue text-xs font-bold flex mt-4 flex-wrap">
								<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full mb-2">AstroJS</li>
								<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full mb-2 ml-2">Tailwind</li>
								<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full mb-2 ml-2">SupaBase</li>
							</ul>
					</div>
					<div class="mb-6">
						<p class="text-white font-bold text-sm flex">Ecommerce Full-stack App</p>
						<p class="text-gray text-sm mt-2 ">A fullstack app built with JavaScript. Using framework such as ExpressJS and VueJS.</p>
						<div class="flex">
							<p class="text-white hover:underline text-sm mt-2"><a href="https://github.com/prmzk/ecommerce_customer" target="_blank" rel="noopener norefferer" class="flex items-center hover:underline"><FaGithub/>Client</a></li>
							<p class="text-white hover:underline text-sm mt-2 ml-2"><a href="https://github.com/prmzk/ecommerce_server" target="_blank" rel="noopener norefferer" class="flex items-center hover:underline"><FaGithub/>Sever</a></li>
						</div>
						<ul class="text-blue text-xs font-bold flex mt-4 flex-wrap">
							<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full mb-2">VueJS</li>
							<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full mb-2 ml-2">ExpressJS</li>
						</ul>
					</div>
					<div class="mb-6">
						<p class="text-white font-bold text-sm flex">Pokemon App</p>
						<p class="text-gray text-sm mt-2 ">A pokemon webapp where you can see the list of pokemon in a custom built pokedex. You are also able to catch and name your pokemon.</p>
						<div class="flex">
							<p class="text-white hover:underline text-sm mt-2"><a href="https://github.com/prmzk/pokemon-adam" target="_blank" rel="noopener norefferer" class="flex items-center hover:underline"><FaGithub/>Pokemon App</a></li>
						</div>
						<ul class="text-blue text-xs font-bold flex mt-4 flex-wrap">
							<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full mb-2">NextJS</li>
							<li class="px-2 py-1 bg-blue bg-opacity-20 border-blue border rounded-full mb-2 ml-2">GraphQL (Apollo)</li>
						</ul>
					</div>
				</div>
			</div>
		</Container>
		
	</main>
</Layout>